@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');


body {
  margin: 0;
  font-family: 'Tomorrow';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.roundedCornerPseduos::after{
  content: "";
  position: absolute;
  border-top-left-radius: 100%;
  border-top: 1px solid rgba(109, 111, 120, 0.1);
  border-left: 1px solid rgba(109, 111, 120, 0.1);
  width: 20px;
  height: 14px;
  right: -18.25px;
  outline: none;
  box-shadow: #14172b -10px -10px 0px 10px;
  z-index: -1;
}

.roundedCornerPseduos::before{
  content: "";
  position: absolute;
  border-top-right-radius: 100%;
  border-top: 1px solid rgba(109, 111, 120, 0.1);
  border-right: 1px solid rgba(109, 111, 120, 0.1);
  width: 20px;
  height: 14px;
  left: -18.5px;
  box-shadow: #14172b 10px -10px 0px 10px;
  z-index: -1;
}

.cardGradientBgColor{
  background: linear-gradient(180deg,#1c2035,#171a2e);
  border: 1px solid rgba(109, 111, 120, 0.1);
}
